.header-container{
    min-width: 100vw;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title{
    z-index: 2;
    font-size: 56pt;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}